{
	"globals": {
		"expect": true,
		"fetch": true,
		"FormData": true,
		"File": true,
		"Blob": true,
		"URLSearchParams": true
	},
	"extends": [
		"nti-codestyle-js"
	],

	"env": {
		"node": true,
		"browser": false,
		"jasmine": false,
		"mocha": true,
		"es6": true
	},

	"parser": "babel-eslint"
}
